<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" />
    <httpRuntime maxRequestLength="4096" />
        <identity impersonate="false" />
  </system.web>
  
  <system.webServer>
    <!-- Efface tous les handlers précédents -->
    <handlers>
      <clear />
      <add name="ASPClassic" path="*.asp" verb="*" modules="IsapiModule" scriptProcessor="%windir%\system32\inetsrv\asp.dll" resourceType="File" requireAccess="Script" />
    </handlers>
    
    <!-- Configuration des erreurs -->
    <httpErrors errorMode="DetailedLocalOnly" />
    
    <!-- Activation ASP -->
    <asp enableParentPaths="true" bufferingOn="true" errorsToNTLog="true" enableAspHtmlFallback="false" />
        <defaultDocument>
            <files>
                <add value="login.asp" />
            </files>
        </defaultDocument> 
       
  </system.webServer>
</configuration>